@import "../common_styles/fonts";
@import "../common_styles/variable";
@import "../common_styles/mixins";


.coinContainer {
  margin: 0.5rem;

  .coin {
    width: 100%;
    height: 100%;
    padding: 0.75rem;
    margin: 0;
    color: $darkgray;
    background-color: $white;
    box-shadow: 0px 0px 5px 5px rgba(169, 169, 169, 0.05);
    border-radius: 5px;
    box-sizing: border-box;

    @include flex(space-between, center) {
      flex-direction: column;
    }

    ;

    p {
      @include ziro_space;
      font-size: $fs_small;
    }
    img{
      width: 30px;
      height: 30px;
      object-fit: cover;
    }

    .redSpan {
      color: rgb(185, 67, 67);
    }

    .greenSpan {
      color: rgb(63, 120, 63);
      font-weight: 600;
    }
  }
}