@import "../common_styles/fonts";
@import "../common_styles/variable";
@import "../common_styles/mixins";


.coinContainer {
  margin: 0.1rem;

  .coin {
    width: 100%;
    height: 100%;
    // text-align: center;
    padding: 0.75rem;
    margin: 0;
    // border: 1px solid $black;
    // background-color: $ultra_black;
    background-color:rgb(242, 242, 242);
    border-radius: 5px;
    box-sizing: border-box;

    @include flex(space-between, flex-start) {
      flex-direction: column;
    }

    ;

    p {
      @include ziro_space;
      font-size: $fs_small;
    }

    .redSpan {
      color: rgb(185, 67, 67);
    }

    .greenSpan {
      color: rgb(63, 120, 63);
      font-weight: 600;
    }
  }
}