@import "../common_styles/variable";
@import "../common_styles/mixins";




.landingContainerFullWidth {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $lightgray;
  display: inline-block;
  color: $white;
  padding: 1.5rem;
  box-sizing: border-box;
  // z-index: 1;

  .menuIcon {
    color: $darkgray;
    font-size: 1.9rem;
    margin-bottom: 1rem;
    cursor: pointer;
    @include transition;

    &:hover {
      color: $green;
    }
  }

  .lineChart,
  .barChart,
  .pieChart {
    background-color: white;
    box-shadow: 0px 0px 10px 3px rgba(169, 169, 169, 0.2);
    border-radius: 5px;
    padding: 0.5rem;
    height: 100%;
  }

}

.landingContainerlowWidth {
  width: 65%;
}

// media query 
@media (max-width:576px) {
  .landingContainerlowWidth {
    width: 100%;
    margin-top: 4rem;
  }
}

;

@media (min-width:576px) {
  .landingContainerlowWidth {
    width: 70%;
  }
}

;

@media (min-width:768px) {
  .landingContainerlowWidth {
    width: 75%;
  }
}

;

@media (min-width:992px) {
  .landingContainerlowWidth {
    width: 80%;

  }
}

;

@media (min-width:1200px) {
  .landingContainerlowWidth {
    width: 85%;

  }
}