@import "../common_styles/variable";
@import "../common_styles/mixins";
@import "../common_styles//fonts";

.navbarSide {
  position: fixed;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  // background-color: $ultra_black;
  background-color: $white;
  padding: 1rem;
  box-sizing: border-box;
  color: $white;
  z-index: 1;
  box-shadow: 5px 0px 10px 5px rgba(169, 169, 169,0.25);

  .closeBTNContainer {
    text-align: right;
    opacity: 0.3;

    svg {
      color: $white;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  h2 {
    a {
      color: $darkgray;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $green;
      display: block;
    }
  }

  .ulList {
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 0.8rem;

      .navlink {
        color: $darkgray;
        text-decoration: none;
        margin-right: 1rem;

        &:hover {
          color: $green;
        }
      }

      .active {
        color: $green;
      }
    }
  }
}

// media query 
@media (max-width:576px) {
  .navbarSide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 4rem;
    // padding: 1rem;
    box-sizing: border-box;
    color: $white;
    z-index: 2;
    @include flex(flex-start, center);

    .closeBTNContainer {
      display: none;
    }

    h2 {
      a {
        @include ziro_space;
        border-bottom: none;
        display: inline-block;
        position: relative;
      }
    }

    .ulList {
      @include ziro_space;
      @include flex(flex-start, center);
      margin: 0 1.2rem !important;

      li {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width:576px) {
  .navbarSide {
    width: 30%;
  }
}

;

@media (min-width:768px) {
  .navbarSide {
    width: 25%;
  }
}

;

@media (min-width:992px) {
  .navbarSide {
    width: 20%;
  }
}

;

@media (min-width:1200px) {
  .navbarSide {
    width: 15%;
  }
}