@mixin ziro_space{
  padding: 0 !important;
  margin: 0 !important;
};

@mixin transition {
  transition: all 0.3s ease;
};

@mixin flex($jc,$ai){
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  @content;
};