$white :#fff;
$lightgray:rgb(248,248,248);
$darkgray:#bbbbbb;
$black: #303030;
$ultra_black: #404040;
$dark_blue: #282A42;
$light_blue: #333555;
$orange :rgb(238, 179, 69);
$green:#6FB327;
// fonts 
$fs_xsmall:0.55rem ; 
$fs_small:0.95rem ; 
$fs_medium:1.1rem;